@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Luckiest+Guy&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/hero-image.jpg) no-repeat center center;
    background-size: cover;
    background-color: #040504;
    color: #fff;
    /* position: relative; */
}

#header {
    line-height: 75px;
    position: relative;
}

#logo-box {
    /* background-color: beige; */
    position: absolute;
    width: 25%;
    top: 10px;
    left: 20px;
    z-index: 300;
}

#logo {
    width: 100%;
    padding: 20px;
}

#logo:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

#hero-title {
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 6s ease-in-out;
}

#title {
    margin-top: 10px;
    font-size: 3rem;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px #000, 0 0 25px #3901FF, 0 0 5px #210099;
    color: #FFF7F8;
    transition: .3s ease-out;
}

#title:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    color: #fffe97;
}

.main-container {
    padding-top: 20px;
    margin-top: 20px;
}

/* styling for the initial body content starts here */

.username-box {
    /* background-color: red; */
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    padding-top: 40px;

}

#username {
    background-color: #d4d4dd;
    border: none;
    border-bottom: 3px solid rgb(85, 85, 37);
    padding: 10px;
    font-family: 'Luckiest Guy', cursive;
}

.username-label {
    font-size: 2.5rem;
    margin-right: 30px;

}

.hero-message {
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Permanent Marker', cursive;
    padding-top: 50px;
    text-align: center;
}

.play-button-img {
    width: 100%;
}

.playquiz:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    color: #17541B;
}

.playquiz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #fffe97;
    transition: .3s ease-out;
}

.quiz-container {
    clear: both;
    width: 100%;
    display: flex;
}

/* styling for the .quiz-container starts here */

.card {
    width: 80%;
    height: 40vh;
    border-radius: 5px;
    /* background-color: blueviolet; */
    position: relative;
    /* card transition  */
    transform-style: preserve-3d;
    transition: all 0.6s;
    transition-timing-function: ease-in-out;
    /* box-shadow: 2px 2px 2px blue; */
    margin: 0 auto;
}

.trivia-box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 16px;
    color: black;
}

.flip {
    transform: rotateX(180deg);
}

.card-front {
    width: 100%;
    height: 100%;
    position: absolute;
    background: pink;
    /* background-image: linear-gradient(to bottom right, red, yellow); */
    border-radius: 5px;
    backface-visibility: hidden;
    padding: 20px;
    box-shadow: 2px 2px 2px rgb(108, 108, 175);
}

#username-tag {
    width: 100%;
    font-size: 14px;
    text-align: right;
    font-family: 'Permanent Marker', cursive;
    color: #210099;
    /* text-shadow: 1px 1px 2px #000, 0 0 25px #3901FF, 0 0 5px #210099; */
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
}

.info-area {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 16px;
    color: black
}

.info-area-reaction {
    font-family: 'Permanent Marker', cursive;
}

.flip-card {
    width: 95%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.fancy-btn {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.2rem;
    background-color: pink;
    border: none;
    cursor: pointer;
}

#user-choice {
    cursor: auto;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: green;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    box-shadow: 2px 2px 2px rgb(172, 172, 221);
}

.return-btn {
    width: 95%;
    position: absolute;
    bottom: 20px;
    text-align: right;
}

#return {
    background-color: green;
}

.choice-box,
.button-container {
    width: 100%;
    position: absolute;
    bottom: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-two {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.hidebtn {
    display: none;
}

.label-tags {
    color: #217C27;
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive;
    margin-right: 30px;
    cursor: pointer;
}

.roundbtn {
    width: 40px;
    height: 40px;
    border: 2px #fff solid;
    border-radius: 50px;
    background-color: #fffe97;
    box-shadow: 1px 1px 2px #000, 0 0 25px #3901FF, 0 0 5px #210099;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: .3s ease-out;
}

.roundbtn:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    color: #17541B;
}

.score-counter {
    font-family: 'Luckiest Guy', cursive;
    margin-top: 20px;
    letter-spacing: 2px;
    font-size: 30px;
}


footer {
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-menu {
    display: flex;
    list-style: none;
    transition: 3s;
}

.social-menu li a {
    font-size: 150%;
    text-decoration: none;
    margin-right: 25px;
    color: #fff;
    padding-bottom: 30px;
}

.social-menu li a:hover {
    color: #fffe97;
}

/* media querry styling start here */
/* media screen for tablets and screen size 1200px  */
@media screen and (max-width: 1200px) {}

/* media screen for devices and screen size 950px  */
@media screen and (max-width: 950px) {}

/* media screen for devices and screen size 768px  */
@media screen and (max-width: 768px) {}

/* media screen for devices and screen size 600px  */
@media screen and (max-width: 600px) {
    #logo-box {
        display: none;
    }

    .card {
        width: 90%;
    }

    .quiz-container {
        top: 40%;
    }

    .choice-box {
        bottom: 26%;
        display: block;
        text-align: center;
    }

    #username-tag {
        text-align: center;
    }

    .label-tags {
        margin: 0 15px;
    }

    .card:hover {
        /* transform: rotateY(180deg); */
    }

    .flip-card {
        width: 90%;
    }
}